<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpellCheck.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpellCheck.Settings>
            <setting name="ExcludedFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>msvcm80.dll</string>
                        <string>mfcm80.dll</string>
                        <string>mfcm80u.dll</string>
                        <string>msvcp80.dll</string>
                        <string>msvcr80.dll</string>
                        <string>msvcm90.dll</string>
                        <string>msvcp90.dll</string>
                        <string>msvcr90.dll</string>
                        <string>cmx8.dll</string>
                        <string>mfcm90.dll</string>
                        <string>mfcm90u.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LogToConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>vdesk</string>
                        <string>ringcube</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SpellCheck.Settings>
    </userSettings>
</configuration>